# Do not serve components, and docker files
RedirectMatch 404 ^/?util/.*$
RedirectMatch 404 ^/?docker-compose.*.yml$
RedirectMatch 404 ^/?Dockerfile.*$

# For utility function and auto include comps.php
<If "%{REQUEST_URI} =~ m#/?components/.*#">
  php_value auto_prepend_file /var/www/html/util/test.php
</If>
<Else>
  php_value auto_prepend_file /var/www/html/util/comps.php
</Else>
