@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [v-cloak] {
    display: none;
  }

  body {
    @apply bg-right-top bg-no-repeat;
    background-image: /* webpackIgnore: true */ url("/assets/images/blob-bg.svg");
    background-size: 100%;
  }

  @media screen(sm) {
    body {
      background-size: 80%;
    }
  }

  @media screen(lg) {
    body {
      background-size: 50%;
    }
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .block-loader {
    @apply relative overflow-hidden bg-gray-300 after:absolute after:-left-[45%] after:h-full after:w-[45%];
  }

  .block-loader::after {
    background-image: linear-gradient(
      to left,
      #fbfbfb0d,
      #fbfbfb4d,
      #fbfbfb99,
      #fbfbfb4d,
      #fbfbfb0d
    );
    animation: loading 1s infinite ease-in-out;
  }

  @keyframes loading {
    0% {
      left: -45%;
    }

    100% {
      left: 100%;
    }
  }

  .list-check {
    @apply relative pl-6 before:absolute before:left-0 before:top-1/2 before:inline-block before:h-4 before:w-4 before:-translate-y-1/2 before:bg-contain before:bg-center before:bg-no-repeat;
  }

  .list-check::before {
    background-image: url("./assets/images/check-mark.svg");
  }
}
