@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=Didact+Gothic&family=Hanalei+Fill&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-100 bg-right-top bg-no-repeat;
  background-image: /* webpackIgnore: true */ url("/assets/images/blob-bg.svg");
  background-size: 100%;
}

@media screen(sm) {
  body {
    background-size: 80%;
  }
}

@media screen(lg) {
  body {
    background-size: 50%;
  }
}

@layer components {
  .block-loader {
    @apply relative overflow-hidden bg-gray-300 after:absolute after:-left-[45%] after:h-full after:w-[45%];
  }

  .block-loader::after {
    background-image: linear-gradient(
      to left,
      #fbfbfb0d,
      #fbfbfb4d,
      #fbfbfb99,
      #fbfbfb4d,
      #fbfbfb0d
    );
    animation: loading 1s infinite ease-in-out;
  }

  @keyframes loading {
    0% {
      left: -45%;
    }

    100% {
      left: 100%;
    }
  }
}
